<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Chat - Projekt</title>
<link type="text/css" rel="stylesheet" href="style.css" />
</head>



<div id="wrapper">
    <div id="menu">
        <p class="welcome"><h1>Welcome</h1><b></b></p>
		
	<div id="logoutButton">Logout</div>       
        <div style="clear:both"></div>
    </div>
     
    <div id="chatbox"></div>
	<br>
	<div id="activities">
		<div id="fontChange"><h4>Fonts</h4></div>
		 <div style="clear:both"></div>
		<div id="sendFile"><h4>Send File</h4></div>
	</div>
	<br><br>
     
    <form name="message" action="">
        <input name="usermsg" type="text" id="usermsg" size="63" />
        <input name="submitmsg" type="submit"  id="submitmsg" value="Send" />
    </form>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">
// jQuery Document
$(document).ready(function(){
 
});
</script>
</body>
</html>