body {
    font:12px arial;
    color: #222;
    text-align:center;
    padding:35px;
	vertical-align:center;
	background-image: url("background.jpg");
		}
  
#wrapper {

    margin-left:auto;
	margin-right:auto;
    padding:25px;
    background:#b3b3b3;	
	opacity: 0.8;
	filter: alpha(opacity=80);
	min-width: 250px;
    }
 
h6{
	font:8px arial;    
    text-align:center;
	color: #e6e6e6;
}
	
.Button{
	height: 30px;	
	background-color:white;
	border:1px solid #ACD8F0;
	margin-left:auto;
	margin-right:auto;
	padding:8px;	
	font:12px arial;
    color: grey;
    
}	

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
	
    background:#fff;
    height:300px;
    border:1px solid #ACD8F0;
    overflow:auto;	
	}
	
#chatlogs {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
	
    background:#fff;
    height:300px;
    border:1px solid #ACD8F0;
    overflow:auto;	
	}
	
#activities{	

	width:50%;
	margin-left:auto;
	margin-right:auto;
}

  
#usermsg {
    width:70%;
    border:1px solid #ACD8F0; }
	
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:center; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

.col-centered { float: none;  margin: 0 auto;}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: grey !important
	
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    
	border-color: black !important
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}



